<link
  rel="stylesheet"
  href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
/>
<div class="mapa-container">
  <div id="datos-container">
    <h3 *ngIf="visibleMessage">Click on a building on the map to show the data.</h3>
    <ng-template appShowTables=""></ng-template>
    <nav *ngIf="visibleLink">
      <!-- <button (click)="activateCalculations()">Calculate</button> -->
      <div class="card" style="background-color: #CAD1DB; border: 0; width: 45%;">
        <div class="card-body">
          <h5>Calculate energy potential</h5>
          <button (click)="activatePotential()">Calculate</button>
        </div>
      </div>
      <div class="card" style="background-color: #CAD1DB; border: 0; width: 45%;">
        <div class="card-body">
          <h5>Solar panel performance check</h5>
          <button (click)="activateExisting()">Evaluate</button>
        </div>
      </div>
    </nav>
  </div>
  <div id="right">
    <div id="map"></div>
  </div>
</div>
