.mapa-container {
    display: flex;
    flex-direction: row; /* Para alinear horizontalmente */
}

#map {
    width: 100%;
    height: 100vh;
}

/* Estilo para el contenedor de datos */
#datos-container {
    width: 20%;
    padding: 5px;
}

#izq {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#chart {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#line_chart > div {
    display: flex;
}

#line_chart > div p {
    max-width: 500px;
}
<<<<<<< Updated upstream
=======
<<<<<<< HEAD

#comparation {
    width: 500px
}
=======
>>>>>>> 12fc38e45162b65749203f0c38aa69a6d8f07fe9
>>>>>>> Stashed changes
