.header {
    display: flex;
    flex-wrap: nowrap;
}

/* Sección del logo */
.logo-container {
    background-color: #edeeef; /* Color de fondo de la sección del logo */
    display: flex;
    align-items: center;
    padding-left: 2.29%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: 5%;
}

/* Sección "About us" */
.about-container {
    background-color: #051b39; /* Color de fondo de la sección "About us" */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    text-align: center;
    padding-left: 76%;
    text-decoration: none;
    color: white;
}

.mapa-container {
    display: flex;
    flex-direction: row; /* Para alinear horizontalmente */
    background-color: #edeeef;
}

/* Estilo para el contenedor de datos */
#datos-container {
    width: 45%;
    padding: 5px;
}

#right {
    padding-top: 5%;
    background-color: #051b39;
    color: white;
}

.right-section {
    flex: 1;
    background-color: #051b39;
    color: white;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    text-align: justify;
}

.right-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.right-section p {
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container label {
    margin-bottom: 10px;
}

.search-container select {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.search-container button {
    padding: 10px;
    background-color: #00cfff;
    color: #051b39;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.button-start button {
    padding: 4%;
    background-color: #00cfff;
    color: #051b39;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5%;
    margin-left: 15%;
}

.form-select {
    background-color: #051b39;
    color: #18d4f2;
}

.title-home {
    color: #18d4f2;
}

.description-home {
    color: #818c9c;
}

.warning {
    color: #F17422;
    margin-top: 10px;
    font-weight: bold;
}

.large-home {
    height: 52rem;
    //height: 830px;
}